/* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
.flotar {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 51px;
}

.navbar-wrapper {
	background-color: #FFFFFF;
	position: absolute;
	left: 0;
	width: 100%;
	height: 51px;
}

.navbar-wrapper>.container {
	padding: 0;
}

@media all and (max-width: 768px ) {
	.navbar-wrapper {
		position: relative;
		top: 0px;
	}
}

/* jssor slider bullet navigator skin 21 css */
/*
                .jssorb21 div           (normal)
                .jssorb21 div:hover     (normal mouseover)
                .jssorb21 .av           (active)
                .jssorb21 .av:hover     (active mouseover)
                .jssorb21 .dn           (mousedown)
                */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	background: url(../img/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb21 div {
	background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
	background-position: -35px -5px;
}

.jssorb21 .av {
	background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
	background-position: -95px -5px;
}

.block {
	height: auto;
	margin-bottom: 20px;
}

html, body, .banner, .container {
	height: 100%;
	text-align: center;
}

.menu {
	color: #000000;
	z-index: 1;
	position: absolute; 
	width: 100%;
	background-color: white;
	top:0px;
	padding-top: 5px
}

.degraDerecho{
	border-bottom: solid 1px #0004ff; 
	z-index: 10;
	position:fixed;
	top:0px;
	background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.65) 2%, rgba(0,0,0,0.19) 12%, rgba(0,0,0,0) 16%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(2%,rgba(0,0,0,0.65)), color-stop(12%,rgba(0,0,0,0.19)), color-stop(16%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.19) 12%,rgba(0,0,0,0) 16%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.19) 12%,rgba(0,0,0,0) 16%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.19) 12%,rgba(0,0,0,0) 16%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.19) 12%,rgba(0,0,0,0) 16%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	
}

.fixed {
	position: fixed;
	top: 0;
}